*{
    margin: 0px;
    padding: 0px;
}

body{
    background:  #eaecee ;
}


h4{
    margin:0;
}
h3{
    margin-bottom: 20px;
}


.container-fluid{ 
    width: 98%;
}

.collapse{
   padding:0
    
}



.sub{
    font-weight:bold;
    padding-top: 5px;
}

a{
    text-decoration:none;
    color:lightgray;
    font-weight: 600;
    font-size:17px;
    padding:inherit;

    
}
a:hover, a:active, a:visited{
    text-decoration: none;
    color:white;
}


a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:active:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

img:hover{
    transition: 0.6s;
    transform: scale(1.1);  
}

img{
    transition:0.6s;
    
}

.bar-color{
    background: white;
}



#head{
    color:black; 
    background-image: url(img/headbg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

#head h3, h4{
    display:inline-block;
    margin-right: 20px;
    margin-top:10px;
}

#navbar div{
    background:#156FA4;
    color: grey;
    text-align: center;
    padding:15px;
    cursor: pointer;
}


#navbar div:hover {
   
    box-shadow: inset 0 100px 0 0 #0a2a4c;
    -webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
    
}


#navbar .active{
    background:#0a2a4c;
    color:white;

    
}



#brief{
    background-color:#0a2a4c;
    color:white;  
    text-align: center;
    padding:20px;
    padding-bottom:50px;
    box-shadow: 0px 10px 10px #888;
}

#brief p{
    margin-bottom:30px;
}

#feature{
    text-align: center;
    padding:20px;
    padding-bottom:50px;
    margin-bottom:30px;
}

#feature p{
    margin:20px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s;
  overflow: hidden;
  height: 0;
  background: rgba(255, 0, 0, 0);
    
}
.idphoto:hover .overlay,
.overlay:hover {
  height: 100%;
  background: rgba(255, 0, 0, 0.5);
}

.idphoto > img {
  display: block;/* Prevent inline gap under image*/
}

#company{
    text-align: center;
}


.cPhoto{
    width:400px;
    margin:auto;
    margin-top:50px;
    
}

#log p{
    margin:0;
}

#log h4{
    font-size: 22px;
    margin: 15px;
    font-weight: 600;
    
}
#log .title{

    background-color: orange;
    text-align: left;
    
}


#log h5{
    font-size: 16px;
    font-weight: bold;
    padding:10px; 
    background-color:#0a2a4c;
    color:white
}

#log  .heading{

    cursor: pointer;
    margin-top:20px;
     
}


#resources{
    text-align: center;
  
}

.box{
    margin-top:20px;
    margin-bottom: 30px;
    overflow: hidden;
    background:black;
    border:5px solid black;
    
}

.box:hover img {
    cursor: pointer;
    opacity: 0.3;

}
.box:hover p {
    display:block;
}
.box span{
    text-align: center;
    
    font-size:20px;
    display:block;
}


.down{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  background: transparent;
    transition: ease-in ;
    
}
.box:hover .down,
.down:hover {
  height: 100%;
  background: transparent;
}

.idphoto > img {
  display: block;/* Prevent inline gap under image*/
}
#people h4{
    background-color: #FFC300;
    color:white;
    padding:10px;

}

.pDes{
    background-color: white;
   
    padding:10px;
    box-shadow: 0px 10px 30px #888888;
    
}

.namebox{
    padding:30px;
}

